@font-face {
  font-family: 'Gt Eesti Display Regular';
  src: url(/fonts/gt-eesti-display-regular.woff);
}
body {
  background-color: rgb(182, 142, 120);
  background-color: rgb(160, 193, 204);

}
.App {

}
h1 {
  font-family: nimbus-sans, sans-serif;
  font-weight: 900;
  font-style: normal;
  letter-spacing: 0px;
  text-transform: uppercase;
  text-align: left;
  color: #111111;
  margin: 0;
  font-size: 9vw;
  line-height: 8vw;
}
p {
  font-family: Gt Eesti Display Regular;
  color: #111111;
  letter-spacing: 0;
  text-align: left;
  line-height: 21px;
  margin:  30px 0;
  font-size: 1.4vw;
}
h2 {
  font-family: Gt Eesti Display Regular;
  color: #111111;
  letter-spacing: 0;
  text-align: center;
  font-size: 2.55vw;
  line-height: 3.25vw;
}
.text {
  width: 60%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  position: absolute;
  span {
    font-family: nimbus-sans, sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
  }
}

.img-center {
  position: absolute;
  width: 60%;
  height: 60%;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
  object-fit: cover;
}
.img-full {
  left: 0;
  z-index: -1;
  object-fit: cover;
  width: 100vw;
  height: 100%;
  // filter: saturate(0);

}
.top {
  object-position: top;
}


.text-cast {
  width: 60%;
  top: 70%;
  left: 50%;
  transform: translateX(-50%);
  position: absolute;
}



.titleSection {
  position: absolute;
  left: 50%;
  top: 25%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.divider {
  height: 40%;
  width: 20px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  filter: invert(1);
  top: 45%;
}


.cast {
  position: absolute;
  width: 40%;
  top: 30%;
  left: 30%;
  h1, h2 {
    text-align: left;
    mix-blend-mode: soft-light;
  }
  h1 {
    font-size: 4vw;
    line-height: 3.9vw;
    padding: 0 !important;
  }
  h2 {
    font-family: nimbus-sans, sans-serif;
    font-weight: 400;
    font-style: normal;
    font-size: 2.4vw;
    line-height: 0px;
    padding-left: 15%;
  }
}
.img-cast {
  position: absolute;
  z-index: -1;
  width: 25vw;
  height: 40vh;
  right: 30%;
  top: 20%;
  img {
    object-fit: cover;
    object-position: top;
    width: 100%;
    height: 100%;
  }

}
.info-cast {
  position: absolute;
  width: 40%;
  height: 40vh;
  top: 53%;
  left: 50%;
  transform: translateX(-50%);
  h2 span {
    font-family: nimbus-sans, sans-serif;
    font-weight: 900;
    font-style: normal;
    text-transform: uppercase;
  }
  .text {
    width: 100%;
    h2 {
      text-align: center;
      font-size: 1.8vw;
      line-height: 2.4vw;
    }
  }
}




.cast-info {
  position: absolute;
  bottom: 0;
  height: 100vh;
  width: 50%;
  .text {
    top: 75%;
  }
}
.img-left {
  position: absolute;
  left: 0;
  z-index: -1;
  object-fit: cover;
  width: 40%;
  height: 70%;
  padding: 10% 5% 5% 5%;
  filter: saturate(0);
}

.bw {
  filter: grayscale(1);
}


@media (max-width: 500px) and (orientation: portrait) {
  h1 {
    font-size: 45px;
    line-height: 40px;
  }
  h2 {
    font-size: 24px;
    line-height: 32px;
  }
  p {
    font-size: 17px;
    margin: 0;
  }
  .img-full {
    height: 100%;
  }
  .img-center {
    width: 70%;
    height: 50%;
    object-fit: cover;
  }
  .text {
    width: 68%;
  }
  // cast
  .titleSection {
    top: 20%;
  }
  .divider {
    height: 100vh;
    width: .8%;
    top: 12%;
  }
  .cast {
    top: 31%;
  }
  .cast-info {
    .text {
      top: 80%;
    }
  }
}

.brown {
  background-color: rgb(182, 142, 120);
  z-index: -1;
}
.blue {
  background-color: rgb(160, 193, 204);
  z-index: -1;
}
.green {
  background-color: rgb(133, 199, 149);
  z-index: -1;
}
.white{
  background-color: rgb(250, 250, 250);
  z-index: -1;
}
.black{
  background-color: #111111;
  z-index: -1;
}
